<h1 class="fs-2">About</h1>
<p>In the future, this page will be much more informative. Till then, following are some useful bullet points:</p>
<ul>
    <li>Stack: NodeJS, Express (ejs), SocketIO, PeerJS</li>
    <li><a href="https://github.com/ManbirJudge/zoom-clone" target="_blank">Project GitHub</a></li>
    <li>My GitHub profile: <a href="https://github.com/ManbirJudge" target="_blank">ManbirJudge</a></li>
</ul>