<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#1c1c1c">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    <title>Meeting - Zoom Clone</title>

    <script>
        const ROOM_ID = "<%= roomId %>";
    </script>

    <style>
        body, html, h6 {
            margin: 0;
            padding: 0;
        }

        .main {
            height: 100vh;
            display: flex;
        }

        /* loader */
        #loadingOverlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            z-index: 9999;
            background-color: #ffffff35;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: opacity 0.5s ease, visibility 0.5s, backdrop-filter 0.5s;
            backdrop-filter: blur(2px);
        }

        .spinner {
            width: 50px;
            height: 50px;
            border: 5px solid #f5f5f5;
            border-top: 5px solid #3498db;
            border-radius: 50%;
            animation: spin 1s linear infinite;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }

        .loaded {
            opacity: 0;
            visibility: hidden;
            backdrop-filter: blur(0) !important;
        }

        /* left */
        .main__left {
            flex: 0.8;
            display: flex;
            flex-direction: column;
        }

        .main__videos {
            flex-grow: 1;
            background-color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px;
        }

        #video-grid {
            display: flex;
            justify-content: center;
        }

        video {
            height: 300px;
            width: 400px;
            object-fit: contain;
            background-color: #f5f5f5;
        }

        .main__ctrls {
            display: flex;
            flex-direction: row;
            background-color: #1c1c1c;
            color: #d2d2d2;
            padding: 0.25rem;
            justify-content: space-between;
            border-top: 1px solid #3d3d42;
        }

        .main__ctrls__block {
            display: flex;
            flex-direction: row;
        }

        .main__ctrls__btn {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0.5rem;
            min-width: 80px;
            cursor: pointer;
            border-radius: 5px;
            font-size: 1em;
        }

        .main__ctrls__btn:hover {
            background-color: #3d3d42;
        }

        .main__ctrls__btn i {
            font-size: 1em;
            margin: 0;
            display: none;
        }

        #leaveBtn {
            color: #eb534b;
        }
        #leaveBtn:hover {
            background-color: #eb534b34;
        }

        /* right */
        .main__chat {
            flex: 0.2;
            display: flex;
            flex-direction: column;
            justify-content: stretch;
            background-color: #1c1c1c;
            border-left: 1px solid #3d3d42;
            padding: 0.25rem;
        }

        .main__chat__title {
            color: #f5f5f5;
            text-align: center;
            font-size: 1rem;
            margin: 0.25rem 0;
        }

        .main__chat__messages {
            flex-grow: 1;
            overflow-y: auto;
            color: white;
            list-style: none;
            padding: 0 0.25rem;
            margin: 0;
            margin-bottom: 0.25rem;
            border-bottom: 1px solid #3d3d42;
        }

        .message {
            margin-top: 2px;
            font-size: 0.85rem;
        }
        .message b {
            color: #f5f5f5;
        }

        #chat-msg-in {
            background-color: transparent;
            border: none;
            color: #f5f5f5;
            outline: none;
            padding: 0.5rem 0.6rem;
            border-radius: 5px;
            transition: all 0.2s ease;
        }
        #chat-msg-in:hover, #chat-msg-in:focus {
            background-color: #3d3d42;
        }
        #chat-msg-in:hover::placeholder, #chat-msg-in:focus::placeholder {
            color: #f5f5f5;
        }

        ::-webkit-scrollbar {
            width: 0.25rem;
        }
        ::-webkit-scrollbar-track {
            background: transparent;
        }
        ::-webkit-scrollbar-thumb {
            background: #f5f5f580;
        }
    </style>

    <!-- libs -->
    <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/peerjs.min.js"></script>
</head>
<body>
    <div id="loadingOverlay">
        <div class="spinner"></div>
    </div>
    <div class="main">
        <div class="main__left">
            <div class="main__videos">
                <div id="vid-grid">

                </div>
            </div>
            <div class="main__ctrls">
                <div class="main__ctrls__block">
                    <div onclick="toggleAudio()" class="main__ctrls__btn" id="toggleVoiceBtn">
                        <i class="fas fa-microphone"></i>
                        <span>Mute</span>
                    </div>
                    <div onclick="toggleVideo()" class="main__ctrls__btn" id="toggleVidBtn">
                        <i class="fas fa-video"></i>
                        <span>Stop Video</span>
                    </div>
                </div>
                <div class="main__ctrls__block">
                    <div class="main__ctrls__btn">
                        <i class="fas fa-shield-alt"></i>
                        <span>Security</span>
                    </div>
                    <div class="main__ctrls__btn">
                        <i class="fas fa-user-friends"></i>
                        <span>Participants</span>
                    </div>
                    <div class="main__ctrls__btn">
                        <i class="fas fa-comment-alt"></i>
                        <span>Chat</span>
                    </div>
                </div>
                <div class="main__ctrls__block">
                    <div class="main__ctrls__btn" id="leaveBtn" onclick="navigation.navigate('/');">
                        <span>Leave Meeting</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="main__chat">
            <h6 class="main__chat__title">Chat</h6>
            <ul class="main__chat__messages">

            </ul>
            <input type="text" id="chat-msg-in" placeholder="Type to chat ...">
        </div>
    </div>
    <script>
        // libs
        const socket = io("/");
        const peer = new Peer();

        // vars
        const users = {};
        let myVidStream;

        // elements
        const vidGrid = document.getElementById("vid-grid");
        const myVid = document.createElement("video");
        const chatIn = document.getElementById("chat-msg-in");
        const msgsList = document.getElementsByClassName("main__chat__messages")[0];

        // my video
        myVid.muted = true;

        navigator.mediaDevices.getUserMedia({
            video: true,
            audio: true,
        }).then(stream => {
            myVidStream = stream;
        });

        // ui
        const addVid = (video, stream, userName) => {
            video.srcObject = stream;
            video.playsinline = true;
            video.autoplay = true;
            video.play();
            vidGrid.appendChild(video);
        };

        const scrollChatToBottom = () => {
            // TODO
        };

        // chat
        chatIn.addEventListener("keydown", e => {
            const msg = chatIn.value;
            if (e.which == 13 && msg.lenght !== 0) {
                socket.emit("message", msg);
                chatIn.value = "";
            }
        });

        // socket.io
        socket.on("user-joined", (newUserId, newUserName) => {
            users[newUserId] = newUserName

            const newUserCall = peer.call(newUserId, myVidStream);
            const newUserVid = document.createElement("video");

            newUserCall.on("stream", newUserVidStream => {
                addVid(newUserVid, newUserVidStream);
            });
        });

        socket.on("user-messaged", (message, userId) => {
            const x = document.createElement("li");
            x.classList.add("message");
            x.innerHTML = `<b>${users[userId]}</b><br/>${message}`;

            msgsList.appendChild(x);
            scrollChatToBottom();
        });

        // peer.js
        peer.on("open", myUserId => {
            document.getElementById("loadingOverlay").classList.add("loaded");

            const storedName = localStorage.getItem("my-name");
            const myName = storedName ? storedName : prompt("Your name:");

            if (myName) {
                users[myUserId] = myName
                socket.emit("join-room", ROOM_ID, myUserId, myName);
                addVid(myVid, myVidStream, myName);

                if (!storedName) {
                    if (confirm("Always use this name?")) {
                        localStorage.setItem("my-name", myName);
                    }
                }
            } else {
                navigation.navigate("/");
            }
        });

        peer.on("call", otherUserCall => {
            otherUserCall.answer(myVidStream);
            const otherUserVid = document.createElement("video");
            otherUserCall.on("stream", otherUserVidStream => {
                addVid(otherUserVid, otherUserVidStream);
            });
        });
    </script>
</body>
</html>