.btn-outline-primary {
    outline: none !important;
    border: none !important;
    color: #2271d2 !important;
}

.btn-outline-primary:hover {
    background: transparent !important;
    outline: none !important;
    border: none !important;
    color: #2271d2 !important;
}

button.btn-warm {
    background-color: #f26d21;
    color: white;
}

button.btn-warm:hover {
    color: white;
    background-color: #da621e;   
}