body,
html,
h6 {
    margin: 0;
    padding: 0;
}

.main {
    height: 100vh;
    display: flex;
}

.main__left {
    flex: 0.8;
    display: flex;
    flex-direction: column;
}

.main__videos {
    flex-grow: 1;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

#video-grid {
    display: flex;
    justify-content: center;
}

video {
    height: 300px;
    width: 400px;
    object-fit: cover;
}

.main__controls {
    display: flex;
    flex-direction: row;
    background-color: #1c1c1c;
    color: #d2d2d2;
    padding: 5px;
    justify-content: space-between;
    border-top: 1px solid #3d3d42;
}

.main__controls__block {
    display: flex;
}

.main__controls__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    min-width: 80px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.main__controls__button:hover {
    background-color: #343434;
}

.main__controls__button i {
    font-size: 24px;
    margin-bottom: 2px;
}

.leaveMeeting__controls__button {
    color: #eb534b;
}

.leaveMeeting__controls__button:hover {
    background-color: #eb534b34;
}

.main__right {
    flex: 0.2;
    display: flex;
    flex-direction: column;
    background-color: #242324;
    border-left: 1px solid #3d3d42;

    /* While not Implemented */
    /* justify-content: center;
    align-items: center;
    background-color: #fff3cd;
    flex-direction: row; */
}

.main__header {
    color: #f5f5f5;
    text-align: center;
    padding-top: 6px;

    /* While not Implemented */
    /* flex: 0.8; */
    /* color: #ffc107; */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
}

.main__header h6 {
    font-size: 20px;
}

.main__chat_window {
    flex-grow: 1;
    overflow-y: auto;
}

.messages {
    color: white;
    list-style: none;
    padding-left: 15px;
}

.messages li {
    margin-top: 2px;
}

.messages li b {
    color: rgb(214, 214, 214);
}


.main__message_container {
    padding: 11px 6px;
    display: flex;
    padding-bottom: 18px;
}

.main__message_container input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: #f5f5f5;
    outline: none;
    padding: 10px 15px;
    border-radius: 10px;
    transition: background-color 0.5s ease;
}

.main__message_container input:hover {
    background-color: rgba(255, 255, 255, 0.308);
}

.ummute {
    color: #ccc;
}

/* .main__header i { */

/* While not Implemented */
/* font-size: 60px; */
/* } */

/* .main__right  h6 { */

/* While not Implemented */
/* font-size: 30px; */
/* font-style: normal; */
/* font-weight: normal; */
/* text-align: center; */
/* margin: 30px 0px; */
/* } */